<%- include('./partials/head') %>
<%- include('./partials/header') %>
<div class="banner">
  
  <img src="images/decobanner2.png" alt="Banner de ofertas">
</div>

<div class="container products-wrapper">
  <div class="row">
    <div class="col-12">
      <h2 class="products-title">Novedades</h2>
    </div>
    <!-- Show the "ultimos" products -->
    <div class="col-12 col-sm-6 col-lg-3">
      <section class="product-box">
        <a href="/product">
          <figure class="product-box_image">
            <img src="/images/products/e61d09233c8e1a8031977f3f874bfc0b.jpg" alt="Silla de Comedor">
          </figure>
          <article class="product-box_data">
            <h2>Silla</h2>
            <p></p>
            <p>Comentarios: 12</p>
          </article>
        </a>
      </section>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <section class="product-box">
        <a href="/product">
          <figure class="product-box_image">
            <img src="/images/products/52a46f35e9205db41ab5152ada9bbdc6.jpg" alt="Mesa De Comedor">
          </figure>
          <article class="product-box_data">
            <h2>Nombre del producto</h2>
            <p>Descripción corta del producto Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque
              delectus ex</p>
            <p>Comentarios: 12</p>
          </article>
        </a>
      </section>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <section class="product-box">
        <a href="/product">
          <figure class="product-box_image">
            <img src="/images/products/ed5ae5474172d557f51a204a6fb3d38d.jpg" alt="Luz de noche">
          </figure>
          <article class="product-box_data">
            <h2>Nombre del producto</h2>
            <p>Descripción corta del producto Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque
              delectus ex</p>
            <p>Comentarios: 12</p>
          </article>
        </a>
      </section>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <section class="product-box">
        <a href="/product">
          <figure class="product-box_image">
            <img src="/images/products/castlery-joseph-king-bed-for-small-bedroom-with-fabric-headboard-and-timber-frame.jpeg" alt="King size">
          </figure>
          <article class="product-box_data">
            <h2>Nombre del producto</h2>
            <p>Descripción corta del producto Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque
              delectus ex</p>
            <p>Comentarios: 12</p>
          </article>
        </a>
      </section>
    </div>
  </div>
</div>
<!-- /Novedades -->
<!-- Más comentados -->
<div class="container products-wrapper">
  <div class="row">
    <div class="col-12">
      <h2 class="products-title">Más comentados</h2>
    </div>
    <!-- Show the "ultimos" products -->
    <div class="col-12 col-sm-6 col-lg-3">
      <section class="product-box">
        <a href="/product">
          <figure class="product-box_image">
            <img src="/images/products/03c29b8335f8bab0610a7907004d0243.jpg" alt="cafetera moulinex">
          </figure>
          <article class="product-box_data">
            <h2>Nombre del producto</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque delectus ex</p>
            <p>Comentarios: 12</p>
          </article>
        </a>
      </section>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <section class="product-box">
        <a href="/product">
          <figure class="product-box_image">
            <img src="/images/products/5e73686ed2e8e67afdc9c11f3d548909.jpg" alt="cafetera moulinex">
          </figure>
          <article class="product-box_data">
            <h2>Nombre del producto</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque delectus ex</p>
            <p>Comentarios: 12</p>
          </article>
        </a>
      </section>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <section class="product-box">
        <a href="/product">
          <figure class="product-box_image">
            <img src="/images/products/33e80b6ee6c4d4939cc8c0ab48505d2c.jpg" alt="cafetera moulinex">
          </figure>
          <article class="product-box_data">
            <h2>Nombre del producto</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque delectus ex</p>
            <p>Comentarios: 12</p>
          </article>
        </a>
      </section>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <section class="product-box">
        <a href="/product">
          <figure class="product-box_image">
            <img src="/images/products/a06360657a430f6d24c87a0d856718de.jpg" alt="cafetera moulinex">
          </figure>
          <article class="product-box_data">
            <h2>Nombre del producto</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque delectus ex</p>
            <p>Comentarios: 12</p>
          </article>
        </a>
      </section>
    </div>
  </div>
</div>
<!-- /Más comentados -->
<%- include('./partials/footer') %>